form {
  margin-bottom: 40px;
  * {
    padding: 2px;
    margin: 10px 2px;
  }
  input[type='submit'].submit {
    margin-left: 10px;
  }
}

.noMatch {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}
