@import 'filter';
$primary-color: #090026;
$secondary-color: #eeeeee;
$highlight-color: #064eeb;

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed%7CRoboto+Slab:700');
@import "_detail";

body {
  background-image: url('https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $primary-color;
  background-blend-mode: color-dodge;
  min-height: 95vh;
  color: $secondary-color;
  font-family: 'Roboto Slab', serif;
  text-align: center;
}

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 4rem;
  font-style: italic;
  text-transform: uppercase;
  margin-top: 20px;
  line-height: 100px;
  letter-spacing: 1rem;
  color: $primary-color;
  text-shadow: -2px -2px 0 $secondary-color,
    2px -2px 0 $secondary-color, -2px 2px 0 $secondary-color,
    2px 2px 0 $secondary-color;
}

main {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(400px, 1fr)
  );
  margin: auto;
  max-width: 95vw;
  &.detailPage {
    max-width: 60vw;
    grid-template-columns: 1fr;
    p {
      line-height: 1.5em;
    }
  }

  a {
    color: $secondary-color;
    text-decoration: none;
  }

  section {
    padding: 10px 10px 30px 10px;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid $highlight-color;

    h2 {
      width: 100%;
      height: 50px;
      margin: 0;
      padding: 0;
      line-height: 50px;
      font-size: 1.4rem;
      color: $secondary-color;
      background: #1c0075;
    }

    .content {
      background-color: $primary-color;
      display: grid;
      grid-template-columns: 80px 1fr;
      grid-gap: 40px;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
    }

    img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(170deg) saturate(600%) contrast(0.8);
    }

    ul {
      list-style: none;
      padding: 0;
      font-size: 0.8rem;
      line-height: 1.4rem;
      text-align: left;
    }
  }

  .all {
    cursor: pointer;
    transition: 0.5s;
    margin: 16px;
    &:hover {
      h2 {
        background: $highlight-color;
      }
      img {
        filter: none;
      }
    }
    h2 {
      transition: 0.5s;
    }
    img {
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(170deg) saturate(600%) contrast(0.8);
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  font-size: 1rem;

  img {
    width: 50px;
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) {
  main {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    &.detailPage {
      max-width: 100vw;
    }
    section {
      margin: 0 0 50px 0;
      padding: 0 0 15px 0;

      img {
        filter: none;
      }
    }
  }
}


