@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed%7CRoboto+Slab:700");
form {
  margin-bottom: 40px; }
  form * {
    padding: 2px;
    margin: 10px 2px; }
  form input[type='submit'].submit {
    margin-left: 10px; }

.noMatch {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0; }

.homeButton {
  appearance: none;
  border: 0;
  top: 0;
  width: 100%;
  height: 40px;
  margin: auto;
  padding: 0;
  color: #fff;
  background-color: #000;
  cursor: pointer; }
  .homeButton a {
    text-decoration: none;
    color: inherit; }

body {
  background-image: url("https://images.unsplash.com/photo-1508098682722-e99c43a406b2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #090026;
  background-blend-mode: color-dodge;
  min-height: 95vh;
  color: #eeeeee;
  font-family: 'Roboto Slab', serif;
  text-align: center; }

h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 4rem;
  font-style: italic;
  text-transform: uppercase;
  margin-top: 20px;
  line-height: 100px;
  letter-spacing: 1rem;
  color: #090026;
  text-shadow: -2px -2px 0 #eeeeee, 2px -2px 0 #eeeeee, -2px 2px 0 #eeeeee, 2px 2px 0 #eeeeee; }

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin: auto;
  max-width: 95vw; }
  main.detailPage {
    max-width: 60vw;
    grid-template-columns: 1fr; }
    main.detailPage p {
      line-height: 1.5em; }
  main a {
    color: #eeeeee;
    text-decoration: none; }
  main section {
    padding: 10px 10px 30px 10px;
    background-color: #090026;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #064eeb; }
    main section h2 {
      width: 100%;
      height: 50px;
      margin: 0;
      padding: 0;
      line-height: 50px;
      font-size: 1.4rem;
      color: #eeeeee;
      background: #1c0075; }
    main section .content {
      background-color: #090026;
      display: grid;
      grid-template-columns: 80px 1fr;
      grid-gap: 40px;
      justify-content: center;
      align-items: center;
      margin-top: 20px; }
    main section img {
      width: 100px;
      height: 100px;
      object-fit: contain;
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(170deg) saturate(600%) contrast(0.8); }
    main section ul {
      list-style: none;
      padding: 0;
      font-size: 0.8rem;
      line-height: 1.4rem;
      text-align: left; }
  main .all {
    cursor: pointer;
    transition: 0.5s;
    margin: 16px; }
    main .all:hover h2 {
      background: #064eeb; }
    main .all:hover img {
      filter: none; }
    main .all h2 {
      transition: 0.5s; }
    main .all img {
      filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(170deg) saturate(600%) contrast(0.8); }

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  font-size: 1rem; }
  footer img {
    width: 50px;
    padding: 10px; }

@media only screen and (max-width: 600px) {
  main {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); }
    main.detailPage {
      max-width: 100vw; }
    main section {
      margin: 0 0 50px 0;
      padding: 0 0 15px 0; }
      main section img {
        filter: none; } }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoic3R5bGUuY3NzIiwic291cmNlcyI6WyJzdHlsZS5zY3NzIiwiX2ZpbHRlci5zY3NzIiwiX2RldGFpbC5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgJ2ZpbHRlcic7XG4kcHJpbWFyeS1jb2xvcjogIzA5MDAyNjtcbiRzZWNvbmRhcnktY29sb3I6ICNlZWVlZWU7XG4kaGlnaGxpZ2h0LWNvbG9yOiAjMDY0ZWViO1xuXG5AaW1wb3J0IHVybCgnaHR0cHM6Ly9mb250cy5nb29nbGVhcGlzLmNvbS9jc3M/ZmFtaWx5PVJvYm90bytDb25kZW5zZWQlN0NSb2JvdG8rU2xhYjo3MDAnKTtcbkBpbXBvcnQgXCJfZGV0YWlsXCI7XG5cbmJvZHkge1xuICBiYWNrZ3JvdW5kLWltYWdlOiB1cmwoJ2h0dHBzOi8vaW1hZ2VzLnVuc3BsYXNoLmNvbS9waG90by0xNTA4MDk4NjgyNzIyLWU5OWM0M2E0MDZiMj9peGxpYj1yYi0xLjIuMSZpeGlkPWV5SmhjSEJmYVdRaU9qRXlNRGQ5JmF1dG89Zm9ybWF0JmZpdD1jcm9wJnc9MTM1MCZxPTgwJyk7XG4gIGJhY2tncm91bmQtYXR0YWNobWVudDogZml4ZWQ7XG4gIGJhY2tncm91bmQtc2l6ZTogY292ZXI7XG4gIGJhY2tncm91bmQtcmVwZWF0OiBuby1yZXBlYXQ7XG4gIGJhY2tncm91bmQtY29sb3I6ICRwcmltYXJ5LWNvbG9yO1xuICBiYWNrZ3JvdW5kLWJsZW5kLW1vZGU6IGNvbG9yLWRvZGdlO1xuICBtaW4taGVpZ2h0OiA5NXZoO1xuICBjb2xvcjogJHNlY29uZGFyeS1jb2xvcjtcbiAgZm9udC1mYW1pbHk6ICdSb2JvdG8gU2xhYicsIHNlcmlmO1xuICB0ZXh0LWFsaWduOiBjZW50ZXI7XG59XG5cbmgxIHtcbiAgZm9udC1mYW1pbHk6ICdSb2JvdG8gU2xhYicsIHNlcmlmO1xuICBmb250LXNpemU6IDRyZW07XG4gIGZvbnQtc3R5bGU6IGl0YWxpYztcbiAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcbiAgbWFyZ2luLXRvcDogMjBweDtcbiAgbGluZS1oZWlnaHQ6IDEwMHB4O1xuICBsZXR0ZXItc3BhY2luZzogMXJlbTtcbiAgY29sb3I6ICRwcmltYXJ5LWNvbG9yO1xuICB0ZXh0LXNoYWRvdzogLTJweCAtMnB4IDAgJHNlY29uZGFyeS1jb2xvcixcbiAgICAycHggLTJweCAwICRzZWNvbmRhcnktY29sb3IsIC0ycHggMnB4IDAgJHNlY29uZGFyeS1jb2xvcixcbiAgICAycHggMnB4IDAgJHNlY29uZGFyeS1jb2xvcjtcbn1cblxubWFpbiB7XG4gIGRpc3BsYXk6IGdyaWQ7XG4gIGdyaWQtdGVtcGxhdGUtY29sdW1uczogcmVwZWF0KFxuICAgIGF1dG8tZmlsbCxcbiAgICBtaW5tYXgoNDAwcHgsIDFmcilcbiAgKTtcbiAgbWFyZ2luOiBhdXRvO1xuICBtYXgtd2lkdGg6IDk1dnc7XG4gICYuZGV0YWlsUGFnZSB7XG4gICAgbWF4LXdpZHRoOiA2MHZ3O1xuICAgIGdyaWQtdGVtcGxhdGUtY29sdW1uczogMWZyO1xuICAgIHAge1xuICAgICAgbGluZS1oZWlnaHQ6IDEuNWVtO1xuICAgIH1cbiAgfVxuXG4gIGEge1xuICAgIGNvbG9yOiAkc2Vjb25kYXJ5LWNvbG9yO1xuICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcbiAgfVxuXG4gIHNlY3Rpb24ge1xuICAgIHBhZGRpbmc6IDEwcHggMTBweCAzMHB4IDEwcHg7XG4gICAgYmFja2dyb3VuZC1jb2xvcjogJHByaW1hcnktY29sb3I7XG4gICAgZGlzcGxheTogZmxleDtcbiAgICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xuICAgIGp1c3RpZnktY29udGVudDogY2VudGVyO1xuICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gICAgYm9yZGVyOiAxcHggc29saWQgJGhpZ2hsaWdodC1jb2xvcjtcblxuICAgIGgyIHtcbiAgICAgIHdpZHRoOiAxMDAlO1xuICAgICAgaGVpZ2h0OiA1MHB4O1xuICAgICAgbWFyZ2luOiAwO1xuICAgICAgcGFkZGluZzogMDtcbiAgICAgIGxpbmUtaGVpZ2h0OiA1MHB4O1xuICAgICAgZm9udC1zaXplOiAxLjRyZW07XG4gICAgICBjb2xvcjogJHNlY29uZGFyeS1jb2xvcjtcbiAgICAgIGJhY2tncm91bmQ6ICMxYzAwNzU7XG4gICAgfVxuXG4gICAgLmNvbnRlbnQge1xuICAgICAgYmFja2dyb3VuZC1jb2xvcjogJHByaW1hcnktY29sb3I7XG4gICAgICBkaXNwbGF5OiBncmlkO1xuICAgICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiA4MHB4IDFmcjtcbiAgICAgIGdyaWQtZ2FwOiA0MHB4O1xuICAgICAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gICAgICBhbGlnbi1pdGVtczogY2VudGVyO1xuICAgICAgbWFyZ2luLXRvcDogMjBweDtcbiAgICB9XG5cbiAgICBpbWcge1xuICAgICAgd2lkdGg6IDEwMHB4O1xuICAgICAgaGVpZ2h0OiAxMDBweDtcbiAgICAgIG9iamVjdC1maXQ6IGNvbnRhaW47XG4gICAgICBmaWx0ZXI6IGdyYXlzY2FsZSgxMDAlKSBicmlnaHRuZXNzKDQwJSkgc2VwaWEoMTAwJSkgaHVlLXJvdGF0ZSgxNzBkZWcpIHNhdHVyYXRlKDYwMCUpIGNvbnRyYXN0KDAuOCk7XG4gICAgfVxuXG4gICAgdWwge1xuICAgICAgbGlzdC1zdHlsZTogbm9uZTtcbiAgICAgIHBhZGRpbmc6IDA7XG4gICAgICBmb250LXNpemU6IDAuOHJlbTtcbiAgICAgIGxpbmUtaGVpZ2h0OiAxLjRyZW07XG4gICAgICB0ZXh0LWFsaWduOiBsZWZ0O1xuICAgIH1cbiAgfVxuXG4gIC5hbGwge1xuICAgIGN1cnNvcjogcG9pbnRlcjtcbiAgICB0cmFuc2l0aW9uOiAwLjVzO1xuICAgIG1hcmdpbjogMTZweDtcbiAgICAmOmhvdmVyIHtcbiAgICAgIGgyIHtcbiAgICAgICAgYmFja2dyb3VuZDogJGhpZ2hsaWdodC1jb2xvcjtcbiAgICAgIH1cbiAgICAgIGltZyB7XG4gICAgICAgIGZpbHRlcjogbm9uZTtcbiAgICAgIH1cbiAgICB9XG4gICAgaDIge1xuICAgICAgdHJhbnNpdGlvbjogMC41cztcbiAgICB9XG4gICAgaW1nIHtcbiAgICAgIGZpbHRlcjogZ3JheXNjYWxlKDEwMCUpIGJyaWdodG5lc3MoNDAlKSBzZXBpYSgxMDAlKSBodWUtcm90YXRlKDE3MGRlZykgc2F0dXJhdGUoNjAwJSkgY29udHJhc3QoMC44KTtcbiAgICB9XG4gIH1cbn1cblxuZm9vdGVyIHtcbiAgZGlzcGxheTogZmxleDtcbiAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gIHBhZGRpbmctdG9wOiA1MHB4O1xuICBmb250LXNpemU6IDFyZW07XG5cbiAgaW1nIHtcbiAgICB3aWR0aDogNTBweDtcbiAgICBwYWRkaW5nOiAxMHB4O1xuICB9XG59XG5cbkBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1heC13aWR0aDogNjAwcHgpIHtcbiAgbWFpbiB7XG4gICAgZ3JpZC10ZW1wbGF0ZS1jb2x1bW5zOiByZXBlYXQoYXV0by1maWxsLCBtaW5tYXgoMzAwcHgsIDFmcikpO1xuICAgICYuZGV0YWlsUGFnZSB7XG4gICAgICBtYXgtd2lkdGg6IDEwMHZ3O1xuICAgIH1cbiAgICBzZWN0aW9uIHtcbiAgICAgIG1hcmdpbjogMCAwIDUwcHggMDtcbiAgICAgIHBhZGRpbmc6IDAgMCAxNXB4IDA7XG5cbiAgICAgIGltZyB7XG4gICAgICAgIGZpbHRlcjogbm9uZTtcbiAgICAgIH1cbiAgICB9XG4gIH1cbn1cblxuXG4iLCJmb3JtIHtcbiAgbWFyZ2luLWJvdHRvbTogNDBweDtcbiAgKiB7XG4gICAgcGFkZGluZzogMnB4O1xuICAgIG1hcmdpbjogMTBweCAycHg7XG4gIH1cbiAgaW5wdXRbdHlwZT0nc3VibWl0J10uc3VibWl0IHtcbiAgICBtYXJnaW4tbGVmdDogMTBweDtcbiAgfVxufVxuXG4ubm9NYXRjaCB7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgbWFyZ2luOiBhdXRvO1xuICBsZWZ0OiAwO1xuICByaWdodDogMDtcbn1cbiIsIi5ob21lQnV0dG9uIHtcbiAgYXBwZWFyYW5jZTogbm9uZTtcbiAgYm9yZGVyOiAwO1xuICB0b3A6IDA7XG4gIHdpZHRoOiAxMDAlO1xuICBoZWlnaHQ6IDQwcHg7XG4gIG1hcmdpbjogYXV0bztcbiAgcGFkZGluZzogMDtcbiAgY29sb3I6ICNmZmY7XG4gIGJhY2tncm91bmQtY29sb3I6ICMwMDA7XG4gIGN1cnNvcjogcG9pbnRlcjtcbiAgYSB7XG4gICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xuICAgIGNvbG9yOiBpbmhlcml0O1xuICB9XG59Il0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUtBLE9BQU8sQ0FBQyxpRkFBSTtBQ0xaLEFBQUEsSUFBSSxDQUFDO0VBQ0gsYUFBYSxFQUFFLElBQUksR0FRcEI7RUFURCxBQUVFLElBRkUsQ0FFRixDQUFDLENBQUM7SUFDQSxPQUFPLEVBQUUsR0FBRztJQUNaLE1BQU0sRUFBRSxRQUFRLEdBQ2pCO0VBTEgsQUFNRSxJQU5FLENBTUYsS0FBSyxDQUFBLEFBQUEsSUFBQyxDQUFLLFFBQVEsQUFBYixDQUFjLE9BQU8sQ0FBQztJQUMxQixXQUFXLEVBQUUsSUFBSSxHQUNsQjs7QUFHSCxBQUFBLFFBQVEsQ0FBQztFQUNQLFFBQVEsRUFBRSxRQUFRO0VBQ2xCLE1BQU0sRUFBRSxJQUFJO0VBQ1osSUFBSSxFQUFFLENBQUM7RUFDUCxLQUFLLEVBQUUsQ0FBQyxHQUNUOztBQ2hCRCxBQUFBLFdBQVcsQ0FBQztFQUNWLFVBQVUsRUFBRSxJQUFJO0VBQ2hCLE1BQU0sRUFBRSxDQUFDO0VBQ1QsR0FBRyxFQUFFLENBQUM7RUFDTixLQUFLLEVBQUUsSUFBSTtFQUNYLE1BQU0sRUFBRSxJQUFJO0VBQ1osTUFBTSxFQUFFLElBQUk7RUFDWixPQUFPLEVBQUUsQ0FBQztFQUNWLEtBQUssRUFBRSxJQUFJO0VBQ1gsZ0JBQWdCLEVBQUUsSUFBSTtFQUN0QixNQUFNLEVBQUUsT0FBTyxHQUtoQjtFQWZELEFBV0UsV0FYUyxDQVdULENBQUMsQ0FBQztJQUNBLGVBQWUsRUFBRSxJQUFJO0lBQ3JCLEtBQUssRUFBRSxPQUFPLEdBQ2Y7O0FGTkgsQUFBQSxJQUFJLENBQUM7RUFDSCxnQkFBZ0IsRUFBRSw2SUFBNkk7RUFDL0oscUJBQXFCLEVBQUUsS0FBSztFQUM1QixlQUFlLEVBQUUsS0FBSztFQUN0QixpQkFBaUIsRUFBRSxTQUFTO0VBQzVCLGdCQUFnQixFQVpGLE9BQU87RUFhckIscUJBQXFCLEVBQUUsV0FBVztFQUNsQyxVQUFVLEVBQUUsSUFBSTtFQUNoQixLQUFLLEVBZFcsT0FBTztFQWV2QixXQUFXLEVBQUUsb0JBQW9CO0VBQ2pDLFVBQVUsRUFBRSxNQUFNLEdBQ25COztBQUVELEFBQUEsRUFBRSxDQUFDO0VBQ0QsV0FBVyxFQUFFLG9CQUFvQjtFQUNqQyxTQUFTLEVBQUUsSUFBSTtFQUNmLFVBQVUsRUFBRSxNQUFNO0VBQ2xCLGNBQWMsRUFBRSxTQUFTO0VBQ3pCLFVBQVUsRUFBRSxJQUFJO0VBQ2hCLFdBQVcsRUFBRSxLQUFLO0VBQ2xCLGNBQWMsRUFBRSxJQUFJO0VBQ3BCLEtBQUssRUE1QlMsT0FBTztFQTZCckIsV0FBVyxFQUFHLElBQUcsQ0FBRSxJQUFHLENBQUMsQ0FBQyxDQTVCUixPQUFPLEVBNkJyQixHQUFHLENBQUUsSUFBRyxDQUFDLENBQUMsQ0E3QkksT0FBTyxFQTZCUyxJQUFHLENBQUMsR0FBRyxDQUFDLENBQUMsQ0E3QnpCLE9BQU8sRUE4QnJCLEdBQUcsQ0FBQyxHQUFHLENBQUMsQ0FBQyxDQTlCSyxPQUFPLEdBK0J4Qjs7QUFFRCxBQUFBLElBQUksQ0FBQztFQUNILE9BQU8sRUFBRSxJQUFJO0VBQ2IscUJBQXFCLEVBQUUscUNBR3RCO0VBQ0QsTUFBTSxFQUFFLElBQUk7RUFDWixTQUFTLEVBQUUsSUFBSSxHQStFaEI7RUF0RkQsQUFRRSxJQVJFLEFBUUQsV0FBVyxDQUFDO0lBQ1gsU0FBUyxFQUFFLElBQUk7SUFDZixxQkFBcUIsRUFBRSxHQUFHLEdBSTNCO0lBZEgsQUFXSSxJQVhBLEFBUUQsV0FBVyxDQUdWLENBQUMsQ0FBQztNQUNBLFdBQVcsRUFBRSxLQUFLLEdBQ25CO0VBYkwsQUFnQkUsSUFoQkUsQ0FnQkYsQ0FBQyxDQUFDO0lBQ0EsS0FBSyxFQWxEUyxPQUFPO0lBbURyQixlQUFlLEVBQUUsSUFBSSxHQUN0QjtFQW5CSCxBQXFCRSxJQXJCRSxDQXFCRixPQUFPLENBQUM7SUFDTixPQUFPLEVBQUUsbUJBQW1CO0lBQzVCLGdCQUFnQixFQXpESixPQUFPO0lBMERuQixPQUFPLEVBQUUsSUFBSTtJQUNiLGNBQWMsRUFBRSxNQUFNO0lBQ3RCLGVBQWUsRUFBRSxNQUFNO0lBQ3ZCLFdBQVcsRUFBRSxNQUFNO0lBQ25CLE1BQU0sRUFBRSxHQUFHLENBQUMsS0FBSyxDQTVESCxPQUFPLEdBaUd0QjtJQWpFSCxBQThCSSxJQTlCQSxDQXFCRixPQUFPLENBU0wsRUFBRSxDQUFDO01BQ0QsS0FBSyxFQUFFLElBQUk7TUFDWCxNQUFNLEVBQUUsSUFBSTtNQUNaLE1BQU0sRUFBRSxDQUFDO01BQ1QsT0FBTyxFQUFFLENBQUM7TUFDVixXQUFXLEVBQUUsSUFBSTtNQUNqQixTQUFTLEVBQUUsTUFBTTtNQUNqQixLQUFLLEVBdEVPLE9BQU87TUF1RW5CLFVBQVUsRUFBRSxPQUFPLEdBQ3BCO0lBdkNMLEFBeUNJLElBekNBLENBcUJGLE9BQU8sQ0FvQkwsUUFBUSxDQUFDO01BQ1AsZ0JBQWdCLEVBNUVOLE9BQU87TUE2RWpCLE9BQU8sRUFBRSxJQUFJO01BQ2IscUJBQXFCLEVBQUUsUUFBUTtNQUMvQixRQUFRLEVBQUUsSUFBSTtNQUNkLGVBQWUsRUFBRSxNQUFNO01BQ3ZCLFdBQVcsRUFBRSxNQUFNO01BQ25CLFVBQVUsRUFBRSxJQUFJLEdBQ2pCO0lBakRMLEFBbURJLElBbkRBLENBcUJGLE9BQU8sQ0E4QkwsR0FBRyxDQUFDO01BQ0YsS0FBSyxFQUFFLEtBQUs7TUFDWixNQUFNLEVBQUUsS0FBSztNQUNiLFVBQVUsRUFBRSxPQUFPO01BQ25CLE1BQU0sRUFBRSxlQUFlLENBQUMsZUFBZSxDQUFDLFdBQVcsQ0FBQyxrQkFBa0IsQ0FBQyxjQUFjLENBQUMsYUFBYSxHQUNwRztJQXhETCxBQTBESSxJQTFEQSxDQXFCRixPQUFPLENBcUNMLEVBQUUsQ0FBQztNQUNELFVBQVUsRUFBRSxJQUFJO01BQ2hCLE9BQU8sRUFBRSxDQUFDO01BQ1YsU0FBUyxFQUFFLE1BQU07TUFDakIsV0FBVyxFQUFFLE1BQU07TUFDbkIsVUFBVSxFQUFFLElBQUksR0FDakI7RUFoRUwsQUFtRUUsSUFuRUUsQ0FtRUYsSUFBSSxDQUFDO0lBQ0gsTUFBTSxFQUFFLE9BQU87SUFDZixVQUFVLEVBQUUsSUFBSTtJQUNoQixNQUFNLEVBQUUsSUFBSSxHQWViO0lBckZILEFBd0VNLElBeEVGLENBbUVGLElBQUksQUFJRCxNQUFNLENBQ0wsRUFBRSxDQUFDO01BQ0QsVUFBVSxFQXpHQSxPQUFPLEdBMEdsQjtJQTFFUCxBQTJFTSxJQTNFRixDQW1FRixJQUFJLEFBSUQsTUFBTSxDQUlMLEdBQUcsQ0FBQztNQUNGLE1BQU0sRUFBRSxJQUFJLEdBQ2I7SUE3RVAsQUErRUksSUEvRUEsQ0FtRUYsSUFBSSxDQVlGLEVBQUUsQ0FBQztNQUNELFVBQVUsRUFBRSxJQUFJLEdBQ2pCO0lBakZMLEFBa0ZJLElBbEZBLENBbUVGLElBQUksQ0FlRixHQUFHLENBQUM7TUFDRixNQUFNLEVBQUUsZUFBZSxDQUFDLGVBQWUsQ0FBQyxXQUFXLENBQUMsa0JBQWtCLENBQUMsY0FBYyxDQUFDLGFBQWEsR0FDcEc7O0FBSUwsQUFBQSxNQUFNLENBQUM7RUFDTCxPQUFPLEVBQUUsSUFBSTtFQUNiLGVBQWUsRUFBRSxNQUFNO0VBQ3ZCLFdBQVcsRUFBRSxNQUFNO0VBQ25CLFdBQVcsRUFBRSxJQUFJO0VBQ2pCLFNBQVMsRUFBRSxJQUFJLEdBTWhCO0VBWEQsQUFPRSxNQVBJLENBT0osR0FBRyxDQUFDO0lBQ0YsS0FBSyxFQUFFLElBQUk7SUFDWCxPQUFPLEVBQUUsSUFBSSxHQUNkOztBQUdILE1BQU0sTUFBTSxNQUFNLE1BQU0sU0FBUyxFQUFFLEtBQUs7RUFDdEMsQUFBQSxJQUFJLENBQUM7SUFDSCxxQkFBcUIsRUFBRSxxQ0FBcUMsR0FZN0Q7SUFiRCxBQUVFLElBRkUsQUFFRCxXQUFXLENBQUM7TUFDWCxTQUFTLEVBQUUsS0FBSyxHQUNqQjtJQUpILEFBS0UsSUFMRSxDQUtGLE9BQU8sQ0FBQztNQUNOLE1BQU0sRUFBRSxVQUFVO01BQ2xCLE9BQU8sRUFBRSxVQUFVLEdBS3BCO01BWkgsQUFTSSxJQVRBLENBS0YsT0FBTyxDQUlMLEdBQUcsQ0FBQztRQUNGLE1BQU0sRUFBRSxJQUFJLEdBQ2IifQ== */
